.quiz-page{
    position: relative;
    width: 100vh;
    height: 100%;
}


.quiz-header{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
}

.quiz-start-btn{
    background-color: transparent;
    border: 0px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-family: f1-regular;
    color: white;
    font-size: 23px;
    cursor: pointer;
    border: 2px solid white;
}

.quiz-start-btn:hover{
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.quiz-question-component{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}